body{
  background-color:beige;
}
.btn1 {
  background-color: rgb(219, 137, 137);
  color: aliceblue;
}
.btn2 {
  background-color: rgb(160, 236, 211);
  color: aliceblue;
}

.inabled{
  background-color: rgb(69, 110, 97);
}