*{
    margin: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #ffcc00;
}
.amarillocorrecto{
    background-color: #ffcc00;
}
.naranjafuegochileno{
    background-color: #ff9900;
}