.button {
    background-color: red;
  }

  .button1{
    background-color: antiquewhite;
    border: solid darkorchid 2px;
    padding: 30px 70px;
    margin: 10px;
    border-radius: 20%;
  }
  .button2{
    background-color: lightskyblue;
    border: solid darkorchid 2px;
    padding: 30px 70px;
    margin: 10px;
    border-radius: 20%;