.header
{
    background-color: black;
    position: sticky;
    width: 100%;
    padding: 20px;
    top:0;
    z-index: 999;

}
.logo{
    width: 150px;
}

.nav {

    color:white;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.menu {
    list-style: none;
    
}
.menu--item
{
    display: inline;
}

.container{
background-color: blue;
width=" 320" height=" 421"
}
.title, .title2, .bottom, .terms{

    color: white;
    font-family: sans-serif;
}
